.history_container {
  width: full;
  height: 90%;
  display: flex;
  background: var(--bgColor);
  flex-wrap: wrap;
  padding: 1em;
  gap: 1em;
}

/* styles for add quiz button */
.add_quiz_button {
  width: 150px;
  height: 150px;
  background: var(--examCardBg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}
.add_quiz_button:hover {
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.plusicon_container {
  width: 60px;
  height: 60px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus_icon {
  color: white;
}

/* card styling */
/* From uiverse.io by @alexmaracinaru */
.card {
  width: 400px;
  height: 150px;
  background: var(--examCardBg);
  padding: 0.4em;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card-image {
  background-color: var(--examCardBg);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.2rem;
  border: 1px solid white;
}
.card-description {
  width: 70%;
  height: 100%;
  border-radius: 6px 6px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.card-image:hover {
  transform: scale(0.98);
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: var(--cardText);
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  color: var(--cardText);
  padding: 7px;
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: var(--cardText);
  font-weight: 400;
  font-size: 11px;
  padding-top: 10px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}
